Source: salt-formula-helm
Maintainer: Yuriy Taraday <ytaraday@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-helm
Vcs-Git: https://github.com/tcpcloud/salt-formula-helm.git

Package: salt-formula-helm
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: helm salt formula
 Install and configure helm system.
