{%- from "helm/map.jinja" import client with context %}
{%- set config = client.kubectl.config %}
apiVersion: v1
clusters:
- cluster:
    {{ config.cluster|yaml|indent(4) }}
  name: thecluster
contexts:
- context:
    cluster: thecluster
    user: theuser
  name: thecontext
current-context: thecontext
kind: Config
preferences: {}
users:
- name: theuser
  user:
    {{ config.user|yaml|indent(4) }}
