{%- from "helm/map.jinja" import client with context %}
{%- set config = client.kubectl.config %}
{%- set cluster = config.get("cluster", {}) %}
{%- set cluster_name = config.get("cluster_name", "thecluster") %}
{%- set context = config.get("context", {}) %}
{%- set context_name = config.get('context_name', "\"\"") %}
{%- set user = config.get("user", {}) %}
apiVersion: v1

{%- if cluster and cluster | length > 0 %}
clusters: 
  - name: {{ cluster_name }}
    cluster: 
      {{ cluster | yaml(False) |indent(6) }}
{%- else %}
clusters: []
{%- endif %}

{%- if context and context | length > 0 %}
contexts: 
  {{ context| yaml(false) | indent(2) }}
{%- else %}
contexts: []
{%- endif %}

current-context: {{ context_name }}
kind: Config
preferences: {}

{%- if user and user | length > 0 %}
users: 
  {{ config.user| yaml(false) | indent(2) }}
{%- else %}
users: []
{%- endif %}
